{% extends 'stocks/app.html' %}
{% load static %}

{% block title %}
    Utilisateur
{% endblock title %}

{% block activeUtilisateur %}
    active
{% endblock activeUtilisateur %}

{% block principalContent %}
    
    <main class="main-content">
        <a href="{% url 'addUser' %}" class="btn"><i class="fas fa-plus-circle"></i> Ajouter un utilisateur</a>
        <br><br>
        <div class="table-container">
            <div class="table-header">
                <div class="search-container">
                    <input type="text" id="searchInput" onkeyup="recherche()" class="search-input" placeholder="Rechercher un utilisateur...">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <table class="contacts-table" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Actif</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users.count == 0 %}
                        <tr>
                            <td colspan="6" style="text-align: center; padding: 15px; font-style: italic; color: #666;">Aucun utilisateur trouvé</td>
                        </tr>
                    {% else %}
                        {% for utilisateur in users %}
                            
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ utilisateur.prenom }}</td>
                                <td>{{ utilisateur.nom }}</td>
                                <td>{{ utilisateur.telephone }}</td>
                                {% if utilisateur.actif == True %}
                                    <td><i class="fas fa-check-circle" style="color: #009b00;"></i></td>
                                    <td class="actions">
                                        <a href="{% url 'showUser' utilisateur.id %}" class="action-btn view-btn" title="Voir">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{% url 'updateUser' utilisateur.id %}" class="action-btn edit-btn" title="Modifier">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a data-url="{% url 'deleteUser' utilisateur.id %}" data-message="cet utilisateur" class="action-btn delete-btn delete-confirme" title="Supprimer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="{% url 'actif' id=utilisateur.id action="desactiver" %}" class="action-btn desactive-btn" title="Désactiver">
                                            <i class="fas fa-xmark-circle"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td><i class="fas fa-xmark-circle" style="color: #b80000;"></i></td>
                                    <td class="actions">
                                        <a href="{% url 'showUser' utilisateur.id %}" class="action-btn view-btn" title="Voir">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{% url 'updateUser' utilisateur.id %}" class="action-btn edit-btn" title="Modifier">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a data-url="{% url 'deleteUser' utilisateur.id %}" data-message="cet utilisateur" class="action-btn delete-btn delete-confirme" title="Supprimer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="{% url 'actif' id=utilisateur.id action="activer" %}" class="action-btn active-btn" title="Activer">
                                            <i class="fas fa-check-circle"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            <tr>

                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock principalContent %}